*{
    box-sizing: border-box;
}

ul{
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
}

.color{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#pixel-board{
border-collapse: collapse;
}

.pixel{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}