* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

button {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 4px 10px;
  font-size: 1.2em;
  background: none;
  border: none;
  outline: none;
  font-family: Playfair Display, sans-serif;
}

button:hover {
  cursor: pointer;
}

button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.3s linear;
}

button:hover:before , button:focus:before {
  visibility: visible;
  transform: scaleX(1);
}


#title {
  margin: 2vh 0;
}

#color-palette {
  display: inline-block;
  width: 400px;
  cursor: pointer;
}

.color {
  height: 70px;
  width: 70px;
  display: inline-block;
  border: 1px solid black;
  transition: 0.3s;
}

.color:hover {
  transform: scale(1.05);
}

#pixel-board {
  padding-top: 40px;
  margin: auto;
  border-spacing: 0;
}

/* height: 38px;
width: 39px; */

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}

/* tr .pixel:first-child {
  height: 38px;
  width: 38px;
} */
