#color-pallete {

}

.color {
    border: solid 1px black;
    height: 150px;
    width: 150px;
    display: inline-block;
}

#one {
background-color: black;
}

#two {
background-color: red;
}

#three {
background-color: green;    
}

#four {
background-color: yellow;    
}

.pixel {
    border: solid 1px black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.jellyRows {
    display: inline-block;
}