* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

#title {
  margin: 2vh 0;
}

#color-palette {
  display: inline-block;
  width: 400px;
  cursor: pointer;
}

.color {
  height: 70px;
  width: 70px;
  display: inline-block;
  border: 1px solid black;
}

#pixel-board {
  padding-top: 40px;
  margin: auto;
  border-spacing: 0;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}
