/* #title {

} */

.color {
  height: 57px;
  width: 57px;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
}

#color-black {
  background-color: black;
}

#color-green {
  background-color: green;
}

#color-red {
  background-color: red;
}

#color-blue {
  background-color: blue;
}

#pixel-board {
  margin-top: 20px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: solid;
  border-color: black;
  background-color: white;
}